@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #dc2626; /* Red-600 */
  --color-primary-hover: #b91c1c; /* Red-700 */
  --color-primary-light: #fef2f2; /* Red-50 */
}

@layer base {
  body {
    @apply font-sans text-slate-900 bg-slate-50;
  }
}

